body{
    background-color: #f4a384 ;
}
h1{
    word-spacing: 30px;
    letter-spacing: 20px;
    text-align: center;
    background-color: #f4a384;
    font-size: 35px;
    color: black;
}
h2{
    background-color: red;
    color: white;
    border-top: 7px maroon double;
    border-right: 7px yellowgreen solid;
    border-bottom: 7px green solid ;
    border-left: 7px blue solid ;

    margin-top: 20px;
    margin-right: 200px;
    margin-bottom: 30px;
    margin-left: 60px;

    padding-top: 30px ;
    padding-right: 60px ;
    padding-bottom: 80px;
    padding-left: 40px;
}
a{
    background-color: red;
    padding: 10px;
    color: white;
}
p{
    text-align: center;
}