body{
    background-color: bisque;
}

#par1{
    color: blue;
    background-color: coral;
    font-size: 26px;
    padding-bottom: 20px;
    text-align: center;
}

#par2{
    color: fuchsia;
    font-size: 23px;
    background-color: darksalmon;
    padding: 10px;
    text-align: end;
    text-transform: uppercase;
    text-decoration: underline;
}

#par3{
    color: turquoise;
    font-size: 20px;
    text-align: justify;
    background-color: black;
    padding: 18px;
    text-decoration: wavy;
    text-transform: lowercase;
}

.myparagraph{
    color: crimson;
    font-size: 24px;
    background-color: chartreuse;
    padding: 12px;
}

.mypar2{
    color:chocolate ;
    font-size: 21px;
    background-color: beige;
    padding: 21px;
    text-decoration:dashed ;
    text-transform: uppercase;
    text-align: right;
}