body{
    background-color: lightblue;
}
h1{
    background-color: bisque;
    font-size: 55px;
    color: teal;
    letter-spacing: 12px;
    word-spacing: 20px;
    text-align: center;
    font-variant: small-caps;
    text-transform: uppercase;
}
p{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    word-spacing: 8px;
    text-decoration: overline;
}
h2{
 /* border: 2px black solid; */
    border-top: 5px  black solid;
    border-right: 5px violet double;
    border-bottom: 5px red groove;
    border-left: 5px bisque dotted;

    /* padding  */
    /* padding: 50px; */
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;

    /* margin  */
    /* margin: 70px; */
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-left: 50px;
}

a{
    text-decoration: none;
    font-size: 20px;
    background-color: aqua;
    color: olive;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
}

a:hover{
    background-color: aquamarine;
    color: springgreen;
    text-decoration: underline;    
}

h1:hover{
    background-color: midnightblue;
    color: whitesmoke;
}